<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>vD3CUfsWewPIqIhZmNYDVDdYft9nIEHXeuMI8wPI23c2e7ba</string>
	<key>BASE_URL</key>
	<string>https://www.yozgathakimiyet.com.tr</string>
	<key>ONESIGNAL_APP_ID</key>
	<string>f256364e-0b3f-476e-bcd4-67a6ab0fb8b1</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
	</dict>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Bu uygulama, haberleri ve görselleri fotoğraf kütüphanenize kaydetmenize olanak sağlar.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Bu uygulama, haberleri ve görselleri fotoğraf kütüphanenize kaydetmenize olanak sağlar.</string>
    <key>GADApplicationIdentifier</key>
    <string>ca-app-pub-8676157529048601~4214683309</string>
    <key>ADMOB_INTERSTITIAL_UNIT_ID</key>
    <string>ca-app-pub-8676157529048601~4214683309</string>
</dict>
</plist>
