<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ARTICLE_OPEN_MODE</key>
	<string>native</string>
	<key>BASE_URL</key>
	<string>https://www.yenihaberler.com.tr</string>
	<key>CITY_NAME</key>
	<string>Türkiye</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-8676157529048601~4214683309</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<false/>
	</dict>
	<key>OneSignal_suppress_launch_urls</key>
	<true/>
	<key>SITE_NAME</key>
	<string>Yeni Haberler</string>
	<key>SPLASH_BG_COLOR</key>
	<string>#FFFFFF</string>
	<key>SKAdNetworkItems</key>
	<array>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>cstr6suwn9.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>4fzdc2evr5.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>2fnua5tdw4.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>ydx93a7ass.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>p78axxw29g.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>v72qych5uu.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>ludvb6z3bs.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>cp8zw746q7.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>3sh42y64q3.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>c6k4g5qg8m.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>s39g8k73mm.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>3qy4746246.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>3rd42ekr43.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>hs6bdukanm.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>mlmmfzh3r3.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>v4nxqhlyqp.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>wzmmz9fp6w.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>su67r6k2v3.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>yclnxrl5pm.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>t38b2kh725.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>7ug5zh24hu.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>9rd848q2bz.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>n6fk4nfna4.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>kbd757ywx3.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>9t245vhmpl.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>a2p9lx4jpn.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>22mmun2rn5.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>4468km3ulz.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>2u9pt9hc89.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>8s468mfl3y.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>klf5c3l5u5.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>ppxm28t8ap.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>424m5254lk.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>uw77j35x4d.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>578prtvx9j.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>4dzt52r2t5.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>e5fvkxwrpn.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>8c4e2ghe7u.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>zq492l623r.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>3qcr597p9d.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>3rd42ekr43.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>f38h382jlk.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>hs6bdukanm.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>prcb7njmu6.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>v9wttpbfk9.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>n38lu8286q.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>47vhws6wlr.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>kbmxgpxpgc.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>9nlqeag3gk.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>k674qkevps.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>gta9lk7p23.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>cj5566h2ga.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>mj797d8u6f.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>s5s7c6kacc.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>n9x2a789qt.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>ejvt5qm6ak.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>523jb7adlf.skadnetwork</string>
		</dict>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>mtkv5xtk9e.skadnetwork</string>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Jaldi_400Regular.ttf</string>
		<string>Jaldi_700Bold.ttf</string>
		<string>JosefinSans_400Regular.ttf</string>
		<string>JosefinSans_500Medium.ttf</string>
		<string>JosefinSans_600SemiBold.ttf</string>
		<string>JosefinSans_700Bold.ttf</string>
		<string>LibreFranklin_400Regular.ttf</string>
		<string>LibreFranklin_500Medium.ttf</string>
		<string>LibreFranklin_600SemiBold.ttf</string>
		<string>LibreFranklin_700Bold.ttf</string>
		<string>Manrope_400Regular.ttf</string>
		<string>Manrope_500Medium.ttf</string>
		<string>Manrope_600SemiBold.ttf</string>
		<string>Manrope_700Bold.ttf</string>
		<string>Merriweather_400Regular.ttf</string>
		<string>Merriweather_500Medium.ttf</string>
		<string>Merriweather_600SemiBold.ttf</string>
		<string>Merriweather_700Bold.ttf</string>
		<string>Montserrat_400Regular.ttf</string>
		<string>Montserrat_500Medium.ttf</string>
		<string>Montserrat_600SemiBold.ttf</string>
		<string>Montserrat_700Bold.ttf</string>
		<string>OpenSans_400Regular.ttf</string>
		<string>OpenSans_500Medium.ttf</string>
		<string>OpenSans_600SemiBold.ttf</string>
		<string>OpenSans_700Bold.ttf</string>
		<string>Oswald_400Regular.ttf</string>
		<string>Oswald_500Medium.ttf</string>
		<string>Oswald_600SemiBold.ttf</string>
		<string>Oswald_700Bold.ttf</string>
		<string>PTSans_400Regular.ttf</string>
		<string>PTSans_700Bold.ttf</string>
		<string>Poppins_400Regular.ttf</string>
		<string>Poppins_500Medium.ttf</string>
		<string>Poppins_600SemiBold.ttf</string>
		<string>Poppins_700Bold.ttf</string>
		<string>Raleway_400Regular.ttf</string>
		<string>Raleway_500Medium.ttf</string>
		<string>Raleway_600SemiBold.ttf</string>
		<string>Raleway_700Bold.ttf</string>
		<string>RobotoSlab_400Regular.ttf</string>
		<string>RobotoSlab_500Medium.ttf</string>
		<string>RobotoSlab_600SemiBold.ttf</string>
		<string>RobotoSlab_700Bold.ttf</string>
		<string>Roboto_400Regular.ttf</string>
		<string>Roboto_500Medium.ttf</string>
		<string>Roboto_600SemiBold.ttf</string>
		<string>Roboto_700Bold.ttf</string>
		<string>Rubik_400Regular.ttf</string>
		<string>Rubik_500Medium.ttf</string>
		<string>Rubik_600SemiBold.ttf</string>
		<string>Rubik_700Bold.ttf</string>
		<string>TitilliumWeb_400Regular.ttf</string>
		<string>TitilliumWeb_600SemiBold.ttf</string>
		<string>TitilliumWeb_700Bold.ttf</string>
		<string>Ubuntu_400Regular.ttf</string>
		<string>Ubuntu_500Medium.ttf</string>
		<string>Ubuntu_700Bold.ttf</string>
		<string>WorkSans_400Regular.ttf</string>
		<string>WorkSans_500Medium.ttf</string>
		<string>WorkSans_600SemiBold.ttf</string>
		<string>WorkSans_700Bold.ttf</string>
		<string>SourceSans3-Bold.otf</string>
		<string>SourceSans3-Medium.otf</string>
		<string>SourceSans3-Regular.otf</string>
		<string>SourceSans3-Semibold.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
